.InfoSection{
    font-family: 'PPNeueMachina';
}

.InfoSection__infoTitle{
    font-weight: 800;
    font-size: 9.375vw;
    line-height: 100%;
    color: #DDDDDD;
}

.InfoSection__infoText{
    font-weight: 800;
    font-size: 2.5vw;
    width: 70%;
    margin-top: 1.458vw;
}