@font-face {
    font-family: GolosUI;
    src: url('./assets/fonts/Golos-UI/golos-ui_regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: GolosUI;
    src: url('./assets/fonts/Golos-UI/golos-ui_medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: GolosUI;
    src: url('./assets/fonts/Golos-UI/golos-ui_bold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: PPNeueMachina;
    src: url('./assets/fonts/PPNeueMachina/PPNeueMachina-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: PPNeueMachina;
    src: url('./assets/fonts/PPNeueMachina/PPNeueMachina-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: PPNeueMachina;
    src: url('./assets/fonts/PPNeueMachina/PPNeueMachina-Ultrabold.otf');
    font-weight: 900;
}